<!DOCTYPE html>
<html>
  <head>
    <title>Intern</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div class="icon-bar">
      <img src="/images/logo.png" style="float: left; width: 20%;">
      <a href="/students"><img src="/images/usertype1.png" height="30%" width="30%"></a> 
      <a class="active" href="/intern"><img src="/images/usertype2.png" height="30%" width="30%"></a> 
      <a href="/others"><img src="/images/usertype3.png" height="30%" width="30%"></a> 
    </div>



    <h1>All Interns</h1>



    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <table id="myTable">
           <tr class="header">
              <th>Name (English)</th>
              <th>お名前 (日本語)</th>
              <th>Date of birth</th>
              <th>Gender</th>
              <th>Birth State and Country</th>
              <th>Birth Nationality</th>
              <th>Phone no</th>
              <th>NickName</th>
              <th>LicenseDate</th>
              <th>Graduation Country</th>
              <th>Graduation University</th>
              <th>Graduation Date</th>
              <th>Training Hospital</th>
              <th>Desired Subject</th>
           </tr>
      <% interns.forEach(function(intern){ %>
           <tr>
              <td><b><%= intern.firstName %> <%= intern.lastName %></b></td>
              <td><%= intern.nihongoFirstName %> <%= intern.nihongoLastName %></td>
              <td><b><%= intern.dob %></b></td>
              <td><%= intern.gender %></td>
              <td><%= intern.birthState %>, <%= intern.birthCountry %></td>
              <td><%= intern.birthNationality %></td>
              <td><b><%= intern.phone %></b></td>
              <td><b><%= intern.nickName %></b></td>
              <td><%= intern.licenseDate %></td>
              <td><%= intern.grCountry %></td>
              <td><%= intern.grUniversity %></td>
              <td><%= intern.grDate %></td>
              <td><b><%= intern.trainingHospital %></b></td>
              <td><%= intern.desiredSubject %></td>
           </tr>
      <% }); %>
    </table>

   <!-- <p><%= interns[0].dob %></p> -->
    <!-- <ul>
      <% interns.forEach(function(intern){ %>
        <p>
            <%= intern.firstName %>
          </p>
        <p>
          <%= intern.lastName %>
        </p>
      <% }); %>
    </ul>
     -->


  </body>

  <script>
      function myFunction() {
             // Declare variables 
             var input, filter, table, tr, td, i, txtValue;
             input = document.getElementById("myInput");
             filter = input.value.toUpperCase();
             table = document.getElementById("myTable");
             tr = table.getElementsByTagName("tr");     
      
             // Loop through all table rows, and hide those who don't match the search query
             for (i = 0; i < tr.length; i++) {
               td = tr[i].getElementsByTagName("td")[0];
               if (td) {
                 txtValue = td.textContent || td.innerText;
                 if (txtValue.toUpperCase().indexOf(filter) > -1) {
                   tr[i].style.display = "";
                 } else {
                   tr[i].style.display = "none";
                 }
               } 
             }
           }
      </script>

</html>
