<!DOCTYPE html>
<html>
  <head>
    <title>Others</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="icon-bar">
      <img src="/images/logo.png" style="float: left; width: 20%;">
      <a href="/students"><img src="/images/usertype1.png" height="30%" width="30%"></a> 
      <a href="/intern"><img src="/images/usertype2.png" height="30%" width="30%"></a> 
      <a class="active" href="/others"><img src="/images/usertype3.png" height="30%" width="30%"></a> 
    </div>

    <h1>All Others</h1>



    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <table id="myTable">
           <tr class="header">
            <th>Name (English)</th>
            <th>お名前 (日本語)</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Birth State and Country</th>
            <th>Birth Nationality</th>
            <th>Phone no</th>
            <th>NickName</th>
            <th>License Date</th>
            <th>Graduation Country</th>
            <th>Graduation University</th>
            <th>Graduation Date</th>
           </tr>
      <% others.forEach(function(others){ %>
           <tr>
            <td><b><%= others.firstName %> <%= others.lastName %></b></td>
            <td><%= others.nihongoFirstName %> <%= others.nihongoLastName %></td>
            <td><b><%= others.dob %></b></td>
            <td><%= others.gender %></td>
            <td><%= others.birthState %>, <%= others.birthCountry %></td>
            <td><%= others.birthNationality %></td>
            <td><b><%= others.phone %></b></td>
            <td><b><%= others.nickName %></b></td>
            <td><%= others.licenseDate %></td>
            <td><b><%= others.grCountry %></b></td>
            <td><%= others.grUniversity %></td>
            <td><%= others.grDate %></td>
           </tr>
      <% }); %>
    </table>



  </body>

  <script>
      function myFunction() {
             // Declare variables 
             var input, filter, table, tr, td, i, txtValue;
             input = document.getElementById("myInput");
             filter = input.value.toUpperCase();
             table = document.getElementById("myTable");
             tr = table.getElementsByTagName("tr");     
      
             // Loop through all table rows, and hide those who don't match the search query
             for (i = 0; i < tr.length; i++) {
               td = tr[i].getElementsByTagName("td")[0];
               if (td) {
                 txtValue = td.textContent || td.innerText;
                 if (txtValue.toUpperCase().indexOf(filter) > -1) {
                   tr[i].style.display = "";
                 } else {
                   tr[i].style.display = "none";
                 }
               } 
             }
           }
      </script>

</html>
