<!DOCTYPE html>
<html>
  <head>
    <title>students</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="icon-bar">
      <img src="/images/logo.png" style="float: left; width: 20%;">
      <a class="active" href="/students"><img src="/images/usertype1.png" height="30%" width="30%"></a> 
      <a href="/intern"><img src="/images/usertype2.png" height="30%" width="30%"></a> 
      <a href="/others"><img src="/images/usertype3.png" height="30%" width="30%"></a> 
    </div>

    <h1>All Students</h1>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <table id="myTable">
           <tr class="header">
            <th>Name (English)</th>
            <th>お名前 (日本語)</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Birth State and Country</th>
            <th>Birth Nationality</th>
            <th>Phone no</th>
            <th>NickName</th>
            <th>Graduation University</th>
            <th>Study Year</th>
           </tr>
      <% students.forEach(function(students){ %>
           <tr>
            <td><b><%= students.firstName %> <%= students.lastName %></b></td>
            <td><%= students.nihongoFirstName %> <%= students.nihongoLastName %></td>
            <td><b><%= students.dob %></b></td>
            <td><%= students.gender %></td>
            <td><%= students.birthState %>, <%= students.birthCountry %></td>
            <td><%= students.birthNationality %></td>
            <td><b><%= students.phone %></b></td>
            <td><b><%= students.nickName %></b></td>
            <td><%= students.grUniversity %></td>
            <td><%= students.studyYear %></td>
           </tr>
      <% }); %>
    </table>



  </body>

  <script>
    function myFunction() {
           // Declare variables 
           var input, filter, table, tr, td, i, txtValue;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("myTable");
           tr = table.getElementsByTagName("tr");     
    
           // Loop through all table rows, and hide those who don't match the search query
           for (i = 0; i < tr.length; i++) {
             td = tr[i].getElementsByTagName("td")[0];
             if (td) {
               txtValue = td.textContent || td.innerText;
               if (txtValue.toUpperCase().indexOf(filter) > -1) {
                 tr[i].style.display = "";
               } else {
                 tr[i].style.display = "none";
               }
             } 
           }
         }
    </script>

</html>
